.nav                            { font-family: fantasy; font-size: 14px; }
.content                        { font-size: 14px; margin: 20px 0px 20px 0px; }
.footer                         { text-align: center; font-family: monospace; bottom: 0; height: 30px }